* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}


#bannerImg {
    width: 100%;
    height: 450px;
    /* margin-left: 10%; */
}

#search {
    width: 53px;
    float: right;
    margin-top: 5px;
}


/* 마이페이지 배너 이미지 */
#mypagebanner {
    background-color: gray;
    width: 100%;
    height: 146px;
    margin: auto;
}

#mypagebanner img {
    height: 100%;
    margin-left: 16%;
}


/* 마이페이지 메뉴 로그아웃/수정/변경 */
#mypageSelect {
    border-left: 1px solid rgba(0, 0, 0, 0.185);
    border-right: 1px solid rgba(0, 0, 0, 0.185);
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    margin: auto;
    height: 90px;
    width: 65%;
    margin-left: 18%;
    
}

#mypageSelect button {
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 4px;
    height: 80px;
    
}
#mypageSelect button a{
    text-decoration: none;
}

#mypageSelect button:hover {
    border: none;
    background-color: #ddd;
    cursor: pointer;

}
/* 선택한 페이지 표시 */
#deleteAccountPage{
    background-color: #ddd !important;
}


/* 개인정보수정  컨테이너 */
#mypageModify {
    width: 100%;
    margin: auto; 
    margin-top: 1%;

}
#modifyNavi {
    width: 55%;
    height: 60px;
    margin: auto;
    
}
#modifyNavi div{
    width: 50%;
    float: left;
    font-size: 16px;
    height: 60px;
   
    border: 1px solid rgba(0, 0, 0, 0.158);    
}
#modifyNavi h3{
    margin-left: 36%;
    margin-top: 14px;
}
#modifyLeft{
    background-color: #167ab8;
    color: white;
    
}
#modifyLeft a{
    
    position: absolute;
    color: white;
    top: 416px;
    left: 48%;
    
}
#modifyRight{
    background-color: rgba(0, 0, 0, 0.041);
    color: #5e6f75;
}
/* 상단 끝 */


/* 개인정보수정 중간 메인 */
#modifyContents{
    width: 100%;
}
#guide{
    width: 55%;
    margin: auto;
    margin-top: 2%;
    font-size: 14px;
}


#guide a2,a3{
    margin-left: 2%;
}

/* 정보수정 테이블 */
#myInfo{
    margin: auto;
    width: 55%;
    border-top: 1px solid #d5d9da;
    margin-top: 2%;
    height:50px;
    font-size: 16px;
}
#myInfo #td1{
    border-right: 1px solid #d5d9da;
    width: 27%;
    background-color: #f6fbff;
    padding-left: 3%;
}
#myInfo td{
    height: 50px;
    border-bottom: 1px solid  #d5d9da;
}
#td2 input{
    width: 340px; 
    height: 30px; 
    margin-left: 1%;
}




#modifyBottom{
    height: 100px;


}


/* 변경버튼 */
#inputModify{
    margin-left: 40%;
    margin-top: 3%;
}
#inputModify input{
    width: 145px;
    height: 65px;
    float: left;
    background-color: #167ab8;
    border: 0px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#exit input{
    width: 145px;
    height: 65px;
    float: left;
    margin-left: 4%;
    font-size: 20px;
    background-color: #666666;
    color: white;
    border: 0px;
    cursor: pointer;
}
/* 임시이미지 */
/* #mypageModify img {
    margin-left: 385px;

} */



